<canvas #canvas></canvas>

@for (planet of this.planetOrbitalData; track $index) {

<app-planet [isShowLabel]="this.showLabels" [isShow]="this.showPlanets" [keplerianData]="planet"
    [dateCurrent]="this.dateTarget" [planetColor]="planet.color()" [scene]="this.scene" [camera]="this.camera"
    [monthAmmount]="this.monthAmmout()">
</app-planet>

}


@for (asteroid of this.asteroidsData; track $index) {
<app-body-spaces [isshowAsteroidesPHA]="this.showAsteroidesPHA" [isShowLabel]="this.showLabels"
    [isShow]="this.showAsteroides" [objectData]="asteroid" [monthAmmount]="this.monthAmmout()" [scene]="this.scene"
    [camera]="this.camera">

</app-body-spaces>
}


@for (satelite of this.sateliteData; track $index) {
<app-body-spaces [isShowLabel]="this.showLabels" [isShow]="this.showSatelites" [objectData]="satelite"
    [objectColor]="'rgb(255, 0, 225)'" [monthAmmount]="this.monthAmmout()" [scene]="this.scene" [camera]="this.camera">

</app-body-spaces>
}


<section class="controlls py-3">
    <p>{{ dateTarget() | date: 'MMM dd yyyy' }}</p>
    <div class="d-flex">
        <span class="me-auto"> ← back time (intesity @if(this.monthAmmout() < 0 ) { {{this.monthAmmout()}} months/sec }
                ) </span>
                <span class="mx-auto"> stop animation </span>
                <span class="ms-auto"> (intesity
                    @if(this.monthAmmout() > 0 ) { {{this.monthAmmout()}} months/sec }
                    ) previus time → </span>
    </div>
    <input type="range" (change)="this.ChangePerTime($event)" min="-5" max="5" step="1" value="0" class="mt-2">
</section>

<section class="filters">
    <h2>Filters</h2>

    <div class="d-flex flex-row flex-sm-column">
        <div>
            <label for="asteroids"> show asteroids </label>
            <input class="m-4" (click)="this.showAsteroides.set(!this.showAsteroides())" checked type="checkbox"
                id="asteroids">
        </div>
        <div>
            <label for="satelites"> show satelites </label>
            <input class="m-4" (click)="this.showSatelites.set(!this.showSatelites())" checked type="checkbox"
                id="satelites">
        </div>
        <div>
            <label for="labels"> show labels </label>
            <input class="m-4" (click)="this.showLabels.set(!this.showLabels())" checked type="checkbox" id="labels">
        </div>
        <div>
            <label for="planets"> show planets </label>
            <input class="m-4" (click)="this.showPlanets.set(!this.showPlanets())" checked type="checkbox" id="planets">
        </div>

        <div>
            <label for="PHA"> show PHA </label>
            <input class="m-4" (click)="this.showAsteroidesPHA.set(!this.showAsteroidesPHA())" type="checkbox" id="PHA">
        </div>

    </div>
    <a href="https://github.com/luiz-rissardi/SpaceApps2024">My git hub repository</a>
</section>