<canvas #canvas></canvas>

<app-planet 
[keplerianData]="this.planetOrbitalData[0]"
[planetColor]="'gray'"
[planetLabel]="'MERCURY'"
[planetSize]="50"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[1]"
[planetLabel]="'VENUS'"
[planetColor]="'crimson'"
[planetSize]="60"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[2]"
[planetLabel]="'EARTH'"
[planetColor]="'blue'"
[planetSize]="70"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[3]"
[planetLabel]="'MARS'"
[planetColor]="'orange'"
[planetSize]="70"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[4]"
[planetLabel]="'JUPITER'"
[planetSize]="500"
[planetColor]="'brown'"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[5]"
[planetLabel]="'SATURN'"
[planetSize]="450"
[planetColor]="'beige'"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[6]"
[planetLabel]="'URANUS'"
[planetSize]="450"
[planetColor]="'cadetblue'"
[scene]="this.scene"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[7]"
[planetSize]="400"
[planetLabel]="'NEPTUNE'"
[planetColor]="'darkslategray'"
[scene]="this.scene"
>
</app-planet>