<canvas #canvas></canvas>

@for (planet of this.planetOrbitalData; track $index) {

<app-planet 
[keplerianData]="planet" 
[planetColor]="planet.color()"
[planetLabel]="planet.label"
[planetSize]="planet.size()"
[scene]="this.scene"
[camera]="this.camera">
</app-planet>

}


<!-- 
<app-planet 
[keplerianData]="this.planetOrbitalData[0]"
[planetColor]="'gray'"
[planetLabel]="'MERCURY'"
[planetSize]="50"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[1]"
[planetLabel]="'VENUS'"
[planetColor]="'crimson'"
[planetSize]="60"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[2]"
[planetLabel]="'EARTH'"
[planetColor]="'blue'"
[planetSize]="70"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[3]"
[planetLabel]="'MARS'"
[planetColor]="'orange'"
[planetSize]="70"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[4]"
[planetLabel]="'JUPITER'"
[planetSize]="400"
[planetColor]="'brown'"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[5]"
[planetLabel]="'SATURN'"
[planetSize]="350"
[planetColor]="'beige'"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[6]"
[planetLabel]="'URANUS'"
[planetSize]="450"
[planetColor]="'cadetblue'"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet>
<app-planet 
[keplerianData]="this.planetOrbitalData[7]"
[planetSize]="400"
[planetLabel]="'NEPTUNE'"
[planetColor]="'darkslategray'"
[scene]="this.scene"
[camera]="this.camera"
>
</app-planet> -->